@import '../../styles/variables.less';

.userList__container {
    z-index: 1;

    .userList__title {
        margin: 30px auto;
        width: 400px;
        color: white;
    }
}

.userList__title-undefind {
    margin: 30px auto;
    width: 500px;
    color: white;
}