* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    color: white;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    height: 2000px;
}

.App {
    width: 800px;
    
}

.title {
    text-align: center;
    margin-top: 15px;
}

.user {
    display: flex;
    padding: 15px;
    border: 2px solid black;
    margin-top: 15px;
    justify-content: space-between;
    border-radius: 10px;
    background-color: white;
}

.user__content {
    color: black;
}





.user-enter {
    transform: translateX(-350px);
}
.user-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.user-exit {
    opacity: 1;
}
.user-exit-active {
transform: translateX(-350px);
transition: all 500ms ease-in;
}


.page__wrapper {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.page {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid yellow;
    cursor: pointer;
}

.page.page__current {
    border: 1px solid black;
    background-color: yellow;
    color: black
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: lightgray;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.navbar__links {
    margin-left: auto;
}