* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

.myBtn {
    color: red;
}

// .auth-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     // background-color: @background-color;
// }