@import '../styles/variables.less';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: @background-color;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.large-mixin(@rules) {
    @media (max-width: 992px) {
        @rules();
    }
}

.medium-mixin(@rules) {
    @media (max-width: 768px) {
        @rules();
    }
}

.Small-mixin(@rules) {
    @media (max-width: 576px) {
        @rules();
    }
}