@import '../../styles/variables.less';

.user {
    width: 600px;
    display: flex;
    justify-content:space-between;
    margin: 20px auto;
    color: @text-color;
    background-color: @secondary-color;
    border-radius: @border-radius;
    // border: 3px solid rgba(0,0,0, 0.5);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 5px 15px;
    position: relative;

    &__characteristic {
        margin-left: 25px;
        margin-top: 10px;
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        width: 220px;
        margin: auto 0;

        &:first-child {
            margin-right: 10px;
        }
    }


}