@import '../../styles/global.less';

.users {
    display: flex;
    padding: 0 30px;
    min-height: 100vh;
    justify-content:space-between;
    align-items: flex-start;
    gap: 40px;

    &__module-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: @secondary-color;
        padding: 30px;
        border-radius: @border-radius;
        margin-top: 30px;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

        .title-parametrs {
            font-size: 16px;
            margin: 15px 0;
            color: @text-color;
        }
    }

    &__list {
        min-width: 600px;
    }

    .filterContainer {
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}